.about {
  padding-top: 29px;
  padding-bottom: 79px;

  background-color: $alice;
}

.about__wrapper {
  display: grid;

  gap: 100px;
  grid-template-columns: repeat(2, auto);

  @media (max-width: $tablet-size-max) {
    gap: 30px;
  }

  @media (max-width: $mobile-size-max) {
    display: block;
  }
}

.about h2 {
  margin-top: 0;
  margin-bottom: 11px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: $ff-roboto-condensed;
  color: $black-pearl;
}

.about p {
  margin-top: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $ff-pt-mono;
  color: $black-pearl;
}

.about__button {
  display: block;
  max-width: 178px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 14px 50px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $deep-sky-blue;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid $deep-sky-blue;
  border-radius: 3px;

  &:hover,
  &:focus {
    color: $black-pearl;

    border-color: $black-pearl;
  }
}

.about.is-active .about__collapsible {
  display: block;
}

.about__collapsible {
  display: none;
}
