.advantages {
  padding-top: 120px;
  padding-bottom: 90px;

  background-color: $alice;

  @media (max-width: $tablet-size-max) {
    padding-top: 80px;
    padding-bottom: 47px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 49px;
    padding-bottom: 12px;
  }
}

.advantages ul {
  display: grid;

  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @media (max-width: $tablet-size-max) {
    gap: 29px;
  }

  @media (max-width: $mobile-size-max) {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
  }
}

.advantages__item {
  max-width: 100%;
  height: auto;
  min-height: 300px;
  padding: 39px 41px 32px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  border-top: 1px solid $whisper;
  border-right: 1px solid $whisper;
  border-bottom: 1px solid $whisper;
  border-left: 5px solid $deep-sky-blue;

  @media (max-width: $mobile-size-max) {
    min-height: 325px;
    padding: 30px 24px 54px;
  }

  &:hover {
    background-color: $deep-sky-blue;
    cursor: pointer;
  }
}

.advantages__item:hover h3,
.advantages__item:focus h3,
.advantages__item:hover p,
.advantages__item:focus p {
  color: $alice-blue;
}

.advantages__item:hover svg,
.advantages__item:focus svg {
  fill: $alice-blue;
}

.advantages__item svg {
  width: 35px;
  height: 35px;
  margin-bottom: 15px;

  fill: $deep-sky-blue;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-size-max) {
    width: 30px;
    height: 30px;
  }
}

.advantages__item h3 {
  margin-top: 0;
  margin-bottom: 13px;

  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  font-family: $ff-roboto-condensed;
  color: $deep-sky-blue;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 8px;
  }

  @media (max-width: $mobile-size-max) {
    font-size: 20px;
    line-height: 140%;
  }
}

.advantages__item p {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  font-family: $ff-pt-mono;
  color: $black-pearl;

  @media (max-width: $mobile-size-max) {
    font-size: 14px;
    line-height: 135%;
  }
}
