.catalog {
  padding-top: 67px;
  padding-bottom: 141px;

  background-color: $black-pearl;

  @media (max-width: $tablet-size-max) {
    padding-top: 56px;
    padding-bottom: 42px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 47px;
    padding-bottom: 53px;
  }
}

.catalog__header {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  &--first {
    display: block;
  }

  &--second {
    display: none;
  }

  @media (max-width: $tablet-size-max) {
    margin-bottom: 37px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 29px;
    padding-right: 10px;

    font-size: 28px;
    line-height: 140%;

    &--first {
      display: none;
    }

    &--second {
      display: block;
    }
  }
}

.catalog__list {
  display: grid;

  gap: 86px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $tablet-size-max) {
    display: block;
  }
}

.catalog__item {
  position: relative;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 31px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 60px;
    height: 60px;

    background-color: $deep-sky-blue;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4px 8px;
    border-color: transparent;

    @media (max-width: $mobile-size-max) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.catalog__link {
  display: block;
  min-height: 650px;
  padding: 50px 40px;

  background-color: $barossa;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $tablet-size-max) {
    min-height: 250px;
    padding: 37px 45px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 26px 107px 29px 30px;
  }

  &--product1 {
    @media (min-width: $desktop-size-min) {
      background-image: url("../img/product1.jpg");

      @supports (background-image: url("../img/product1.webp")) {
        background-image: url("../img/product1.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product1@2x.jpg");

        @supports (background-image: url("../img/product1@2x.webp")) {
          background-image: url("../img/product1@2x.webp");
        }
      }
    }

    @media (max-width: $tablet-size-max) {
      background-image: url("../img/product1-tablet.jpg");

      @supports (background-image: url("../img/product1-tablet.webp")) {
        background-image: url("../img/product1-tablet.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product1-tablet@2x.jpg");

        @supports (background-image: url("../img/product1-tablet@2x.webp")) {
          background-image: url("../img/product1-tablet@2x.webp");
        }
      }
    }

    @media (max-width: $mobile-size-max) {
      background-image: url("../img/product1-mobile.jpg");

      @supports (background-image: url("../img/product1-mobile.webp")) {
        background-image: url("../img/product1-mobile.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product1-mobile@2x.jpg");

        @supports (background-image: url("../img/product1-mobile@2x.webp")) {
          background-image: url("../img/product1-mobile@2x.webp");
        }
      }
    }
  }

  &--product2 {
    @media (min-width: $desktop-size-min) {
      background-image: url("../img/product2.jpg");

      @supports (background-image: url("../img/product2.webp")) {
        background-image: url("../img/product2.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product2@2x.jpg");

        @supports (background-image: url("../img/product2@2x.webp")) {
          background-image: url("../img/product2@2x.webp");
        }
      }
    }

    @media (max-width: $tablet-size-max) {
      background-image: url("../img/product2-tablet.jpg");

      @supports (background-image: url("../img/product2-tablet.webp")) {
        background-image: url("../img/product2-tablet.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product2-tablet@2x.jpg");

        @supports (background-image: url("../img/product2-tablet@2x.webp")) {
          background-image: url("../img/product2-tablet@2x.webp");
        }
      }
    }

    @media (max-width: $mobile-size-max) {
      background-image: url("../img/product2-mobile.jpg");

      @supports (background-image: url("../img/product2-mobile.webp")) {
        background-image: url("../img/product2-mobile.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product2-mobile@2x.jpg");

        @supports (background-image: url("../img/product2-mobile@2x.webp")) {
          background-image: url("../img/product2-mobile@2x.webp");
        }
      }
    }
  }

  &--product3 {
    @media (min-width: $desktop-size-min) {
      background-image: url("../img/product3.jpg");

      @supports (background-image: url("../img/product3.webp")) {
        background-image: url("../img/product3.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product3@2x.jpg");

        @supports (background-image: url("../img/product3@2x.webp")) {
          background-image: url("../img/product3@2x.webp");
        }
      }
    }

    @media (max-width: $tablet-size-max) {
      background-image: url("../img/product3-tablet.jpg");

      @supports (background-image: url("../img/product3-tablet.webp")) {
        background-image: url("../img/product3-tablet.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product3-tablet@2x.jpg");

        @supports (background-image: url("../img/product3-tablet@2x.webp")) {
          background-image: url("../img/product3-tablet@2x.webp");
        }
      }
    }

    @media (max-width: $mobile-size-max) {
      background-image: url("../img/product3-mobile.jpg");

      @supports (background-image: url("../img/product3-mobile.webp")) {
        background-image: url("../img/product3-mobile.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/product3-mobile@2x.jpg");

        @supports (background-image: url("../img/product3-mobile@2x.webp")) {
          background-image: url("../img/product3-mobile@2x.webp");
        }
      }
    }
  }
}

.catalog__item h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 30%;

  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  @media (max-width: $tablet-size-max) {
    padding-right: 445px;
  }

  @media (max-width: $mobile-size-max) {
    padding-right: 0;

    font-size: 18px;
    line-height: 30px;
  }
}
