.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 11%;

  column-gap: 120px;

  @media (max-width: 1150px) {
    column-gap: 40px;
  }

  @media (max-width: $tablet-size-max) {
    align-self: start;
    margin-top: 10px;
    margin-right: 30px;

    column-gap: 40px;
  }

  @media (max-width: $mobile-size-max) {
    margin-top: 6px;
    margin-right: 20px;
  }
}

.contacts a:hover .contacts__icon,
.contacts a:hover .contacts__text {
  color: $java;

  fill: $java;
}

.contacts a {
  display: block;
}

.contacts__icon {
  fill: $deep-sky-blue;
}

.contacts span {
  margin-left: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-pt-mono;
  vertical-align: top;
  color: $alice-blue;

  @media (max-width: $tablet-size-max) {
    display: none;
  }
}
