.contacts {
  display: flex;

  column-gap: 122px;
}

.contacts__icon {
  fill: $deep-sky-blue;
}

.contacts span {
  margin-left: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "PTMono", "Inconsolata", monospace;
  vertical-align: top;
  color: $alice-blue;

  @media (max-width: $tablet-size-max) {
    display: none;
  }
}
