// .footer {
//   padding-top: 50px;
//   padding-bottom: 55px;

//   background-color: $black-pearl;

//   @media (max-width: $mobile-size-max) {
//     padding-top: 35px;
//   }
// }

// .footer__wrapper {
//   display: grid;

//   grid-template-columns: 250px 1fr 345px;

//   @media (max-width: 1150px) {
//     grid-template-columns: 200px 1fr 300px;
//   }

//   @media (max-width: $tablet-size-max) {
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(2, min-content);
//   }

//   @media (max-width: $mobile-size-max) {
//     display: block;
//   }
// }

// .footer__logo-social {
//   @media (max-width: $tablet-size-max) {
//     display: flex;
//     justify-content: space-between;

//     grid-column: 1 / 3;
//   }

//   @media (max-width: $mobile-size-max) {
//     display: block;
//     margin-bottom: 23px;
//   }
// }

// .footer__logo {
//   display: block;
//   margin-bottom: 34px;

//   @media (max-width: $tablet-size-max) {
//     margin-bottom: 32px;
//   }

//   @media (max-width: $mobile-size-max) {
//     margin: 0 auto 20px;
//   }
// }

// .footer__social-list {
//   display: grid;
//   max-width: 165px;
//   margin-left: 15px;

//   grid-template-columns: repeat(3, auto);

//   @media (max-width: $tablet-size-max) {
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: 10px;
//   }

//   @media (max-width: $mobile-size-max) {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     max-width: none;
//     margin-left: 0;

//     gap: 25px;
//   }
// }

// .footer__social-item--pinterest {
//   @media (max-width: $tablet-size-max) {
//     order: -1;
//   }
// }

// .footer__social-list li {
//   @media (max-width: $tablet-size-max) {
//     margin-left: 25px;
//   }

//   @media (max-width: $mobile-size-max) {
//     margin-left: 0;
//   }
// }

// .footer__social-list a {
//   display: block;
// }

// .footer__social-list a:hover .footer__social-icon,
// .footer__social-list a:focus .footer__social-icon {
//   stroke: $java;
// }

// .footer__social-list a:active .footer__social-icon {
//   opacity: 0.5;
// }

// .footer__header {
//   margin-top: 0;
//   margin-bottom: 21px;

//   font-weight: 400;
//   font-size: 15px;
//   line-height: 107%;
//   font-family: $ff-roboto-condensed;
//   color: $color-default-white;
//   text-transform: uppercase;
//   letter-spacing: 0.05em;

//   @media (max-width: $mobile-size-max) {
//     margin-right: -25px;
//     margin-bottom: 19px;
//     margin-left: -25px;
//     padding-top: 23px;
//     padding-right: 25px;
//     padding-left: 25px;

//     border-top: 1px solid rgba(248, 253, 255, 0.7);
//     cursor: pointer;

//     &::after,
//     &::before {
//       content: "";
//       position: absolute;
//       top: 28px;
//       right: 2px;

//       width: 15px;
//       height: 1px;

//       background-color: $alice;
//     }

//     &::after {
//       transform: rotate(90deg);
//     }
//   }
// }

// .footer__nav {
//   margin-top: 7px;
//   margin-left: 20%;

//   @media (max-width: $tablet-size-max) {
//     margin-top: 0;
//     margin-left: 0;
//   }

//   @media (max-width: $mobile-size-max) {
//     position: relative;
//   }
// }

// .footer__nav-list {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   margin-right: 30px;

//   @media (max-width: $tablet-size-max) {
//     max-height: none;
//   }

//   @media (max-width: $mobile-size-max) {
//     display: none;
//   }
// }

// .footer__nav li {
//   max-width: 220px;
//   margin-bottom: 6px;
// }

// .footer__nav a {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 135%;
//   font-family: $ff-pt-mono;
//   color: $color-default-white;

//   opacity: 0.7;

//   &:hover,
//   &:focus {
//     color: $java;
//   }

//   &:active {
//     opacity: 0.5;
//   }
// }

// .footer__contacts {
//   margin-top: 7px;

//   @media (max-width: $tablet-size-max) {
//     margin-top: 0;
//     margin-left: 15px;
//   }

//   @media (max-width: $mobile-size-max) {
//     position: relative;

//     margin-left: 0;
//   }
// }

// .footer__contacts-list {
//   @media (max-width: $mobile-size-max) {
//     display: none;
//   }
// }

// .footer__contacts address {
//   margin-bottom: 8px;

//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 135%;
//   font-family: $ff-pt-mono;
//   color: $color-default-white;

//   opacity: 0.7;

//   @media (max-width: $mobile-size-max) {
//     margin-bottom: 15px;

//     font-size: 14px;
//     line-height: 135%;
//   }
// }

// .footer__contacts li {
//   margin-bottom: 6px;
// }

// .footer__contacts a {
//   margin-bottom: 12px;

//   font-weight: 400;
//   font-size: 16px;
//   line-height: 156%;
//   font-family: $ff-pt-mono;
//   color: $color-default-white;

//   opacity: 0.7;

//   &:hover,
//   &:focus {
//     color: $java;
//   }

//   &:active {
//     opacity: 0.5;
//   }

//   @media (max-width: $mobile-size-max) {
//     font-size: 14px;
//     line-height: 135%;
//   }
// }

// .footer__nav.is-open .footer__nav-list {
//   @media (max-width: $mobile-size-max) {
//     display: block;
//   }
// }

// .footer__contacts.is-open .footer__contacts-list {
//   @media (max-width: $mobile-size-max) {
//     display: block;
//     margin-right: -25px;
//     margin-left: -25px;
//     padding-right: 25px;
//     padding-bottom: 10px;
//     padding-left: 25px;

//     border-bottom: 1px solid rgba(248, 253, 255, 0.7);
//   }
// }

// .footer__contacts.is-open .footer__header::after {
//   @media (max-width: $mobile-size-max) {
//     width: 0;
//   }
// }

// .footer__nav.is-open .footer__header::after {
//   @media (max-width: $mobile-size-max) {
//     width: 0;
//   }
// }

// .footer__accordion.is-open .footer__accordion-list {
//   display: none;
// }

// .footer__lists {
//   display: flex;

//   @media (max-width: $tablet-size-max) {
//     flex-direction: column;
//   }

//   @media (max-width: $mobile-size-max) {
//     flex-direction: column;
//     padding-bottom: 10px;
//   }
// }

.footer {
  padding-top: 50px;
  padding-bottom: 55px;

  background-color: $black-pearl;

  @media (max-width: $mobile-size-max) {
    padding-top: 35px;
  }
}

.footer__wrapper {
  display: grid;

  grid-template-columns: 250px 1fr;

  @media (max-width: 1150px) {
    grid-template-columns: 200px 1fr;
  }

  @media (max-width: $tablet-size-max) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
  }

  @media (max-width: $mobile-size-max) {
    display: block;

    grid-template-columns: none;
    grid-template-rows: none;
  }
}

.footer__logo-social {
  @media (max-width: $tablet-size-max) {
    display: flex;
    justify-content: space-between;

    grid-column: 1 / 3;
  }

  @media (max-width: $mobile-size-max) {
    display: block;
    margin-bottom: 23px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 28px;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 32px;
  }

  @media (max-width: $mobile-size-max) {
    width: 219px;
    height: 55px;
    margin: 0 auto 20px;
  }
}

.footer__social-list {
  display: grid;
  max-width: 165px;
  margin-left: 15px;

  grid-template-columns: repeat(3, auto);

  @media (max-width: $tablet-size-max) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  @media (max-width: $mobile-size-max) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: none;
    margin-left: 0;

    gap: 25px;
  }
}

.footer__social-item--pinterest {
  @media (max-width: $tablet-size-max) {
    order: -1;
  }
}

.footer__social-list li {
  @media (max-width: $tablet-size-max) {
    margin-left: 25px;
  }

  @media (max-width: $mobile-size-max) {
    margin-left: 0;
  }
}

.footer__social-list a {
  display: block;
}

.footer__social-list a:hover .footer__social-icon,
.footer__social-list a:focus .footer__social-icon {
  stroke: $java;
}

.footer__social-list a:active .footer__social-icon {
  opacity: 0.5;
}

.footer__header {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $mobile-size-max) {
    margin-bottom: 0;
    // margin-left: -25px;
    padding-top: 23px;
    padding-right: 25px;
    // margin-right: -25px;
    // margin-bottom: 19px;
    padding-bottom: 19px;
    padding-left: 25px;

    border-top: 1px solid rgba(248, 253, 255, 0.7);
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 28px;
      // right: 2px;
      right: 27px;

      width: 15px;
      height: 1px;

      background-color: $alice;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.footer__nav {
  margin-top: 7px;
  margin-left: 20%;

  @media (max-width: $tablet-size-max) {
    margin-top: 0;
    margin-left: 0;
  }

  @media (max-width: $mobile-size-max) {
    position: relative;
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 30px;

  // @media (max-width: $tablet-size-max) {
  //   max-height: none;
  // }

  // @media (max-width: $mobile-size-max) {
  //   display: none;
  // }
}

.footer__nav li {
  max-width: 220px;
  margin-bottom: 6px;
}

.footer__nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  font-family: $ff-pt-mono;
  color: $color-default-white;

  opacity: 0.7;

  &:hover,
  &:focus {
    color: $java;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__contacts {
  margin-top: 7px;

  @media (max-width: $tablet-size-max) {
    margin-top: 0;
    margin-left: 25px;
  }

  @media (max-width: $mobile-size-max) {
    position: relative;

    margin-left: 0;
  }
}

// .footer__contacts-list {
//   @media (max-width: $mobile-size-max) {
//     display: none;
//   }
// }

.footer__contacts address {
  margin-bottom: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  font-family: $ff-pt-mono;
  color: $color-default-white;

  opacity: 0.7;

  @media (max-width: $mobile-size-max) {
    margin-bottom: 15px;

    font-size: 14px;
    line-height: 135%;
  }
}

.footer__contacts li {
  margin-bottom: 6px;
}

.footer__contacts a {
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  font-family: $ff-pt-mono;
  color: $color-default-white;

  opacity: 0.7;

  &:hover,
  &:focus {
    color: $java;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $mobile-size-max) {
    font-size: 14px;
    line-height: 135%;
  }
}

.footer__nav.is-open .footer__nav-list {
  @media (max-width: $mobile-size-max) {
    display: block;
  }
}

// .footer__contacts.is-open .footer__contacts-list
.footer__contacts-list {
  @media (max-width: $mobile-size-max) {
    display: block;
    // margin-right: -25px;
    // margin-left: -25px;
    // padding-right: 25px;
    // padding-bottom: 10px;
    // padding-left: 25px;

    // border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__contacts.is-open .footer__header::after {
  @media (max-width: $mobile-size-max) {
    width: 0;
  }
}

.footer__nav.is-open .footer__header::after {
  @media (max-width: $mobile-size-max) {
    width: 0;
  }
}

// .footer__accordion.is-open .footer__accordion-list {
//   display: none;
// }

.footer__lists {
  display: flex;

  @media (max-width: $tablet-size-max) {
    flex-direction: column;
  }

  @media (max-width: $mobile-size-max) {
    // Скрываем все блоки
    display: none;
    flex-direction: column;
    padding: 0 25px;
    padding-bottom: 10px;
  }
}

.footer__accordion-container {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);

  grid-template-columns: 1fr 345px;
  grid-template-rows: repeat(2, min-content);

  @media (max-width: $tablet-size-max) {
    grid-column: 1/-1;
  }

  @media (max-width: $mobile-size-max) {
    display: block;
  }
}

.footer__accordion {
  @media (max-width: $mobile-size-max) {
    margin-right: -25px;
    margin-left: -25px;

    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__accordion.is-open .footer__lists {
  display: block;
}
