.form h3 {
  margin-top: 0;

  font-weight: 400;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
}

.form p {
  margin-top: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $ff-pt-mono;
  color: $color-default-white;
}

.form input,
.form textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $ff-pt-mono;
  color: rgba(255, 255, 255, 1);

  background-color: $pacific-blue;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: text;

  &:hover,
  &:focus {
    background-color: $picton-blue;
    box-shadow: 0 0 0 2px $color-neon-blue;
  }

  &:active {
    opacity: 0.5;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

.form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $black-pearl;
  border-color: transparent;
  border-radius: 3px;

  &:hover,
  &:active {
    color: $deep-sky-blue;

    background-color: $cerulean;
  }

  &:active {
    opacity: 0.5;
  }
}

.form__checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-pt-mono;
  color: $color-default-white;

  opacity: 0.8;
}

.form__checkbox span {
  position: absolute;

  margin-left: -25px;

  background-color: transparent;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $color-neon-blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.form__checkbox input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.form__checkbox input[type="checkbox"]:checked ~ span {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox input[type="checkbox"]:hover ~ span,
.form__checkbox input[type="checkbox"]:focus ~ span {
  background-color: $picton-blue;
  box-shadow: 0 0 0 2px $color-neon-blue;
}
