.logo {
  margin-right: 9px;

  @media (max-width: $mobile-size-max) {
    width: 35px;
    height: 35px;
  }
}

.logo-image {
  display: block;

  @media (max-width: $mobile-size-max) {
    display: none;
  }
}

.logo-mobile {
  display: none;

  @media (max-width: $mobile-size-max) {
    display: block;
  }
}

.logo-modal {
  width: 215px;
  margin: 0 auto;

  &:hover {
    opacity: 0.5;
  }
}

.logo-modal a {
  display: block;
}
