.modal {
  display: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba($black-pearl, 0.7);
}

.modal__wrapper {
  position: relative;

  width: 500px;
  margin: 146px 700px;
  padding-top: 36px;
  padding-right: 37px;
  padding-bottom: 43px;
  padding-left: 41px;

  background-color: $deep-sky-blue;
  border-radius: 3px;
}

.modal h3 {
  margin-top: 0;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
}

.modal p {
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $ff-pt-mono;
  color: $color-default-white;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__inputs input,
.modal__inputs textarea {
  width: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: $ff-pt-mono;
  color: rgba(255, 255, 255, 1);

  background-color: $pacific-blue;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: text;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px $color-neon-blue;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

.modal__inputs input {
  margin-bottom: 21px;
  padding: 10px 15px 12px 14px;
}

.modal__inputs textarea {
  margin-bottom: 16px;
  padding: 21px 15px 88px 14px;
}

.modal__button {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 60px 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $black-pearl;
  border-color: transparent;
  border-radius: 3px;

  &:hover,
  &:active {
    color: $deep-sky-blue;

    background-color: $cerulean;
  }

  &:active {
    opacity: 0.5;
  }
}

.modal__checkbox {
  display: flex;
  order: 2;

  gap: 5px;
}

.modal__checkbox label {
  min-width: 370px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-pt-mono;
  color: $color-default-white;

  opacity: 0.8;
}

.modal__checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-left: 9px;

  background-color: transparent;
  border: 1px solid $color-default-white;
  border-radius: 3px;
  cursor: pointer;

  appearance: none;

  &:hover,
  &:focus {
    border-color: $color-neon-blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.modal__checkbox input[type="checkbox"]:checked {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal__close {
  position: absolute;
  top: 25px;
  right: 23px;
  z-index: 10;

  display: block;
  width: 20px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
