.printed-boards .container {
  padding-top: 306px;
  padding-right: 400px;
  padding-left: 149px;
}

.printed-boards h1 {
  margin-top: 0;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  font-family: $ff-roboto-condensed;
  color: $alice-blue;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.printed-boards p {
  margin-top: 0;
  margin-bottom: 61px;

  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  font-family: $ff-pt-mono;
  color: $alice-blue;
}

.printed-boards__button {
  padding: 15px 27px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $alice-blue;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $deep-sky-blue;
  border-color: transparent;
  border-radius: 3px;
}
