.printed-boards .container {
  padding-left: 100px;
}

.printed-boards h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  color: $alice-blue;
  text-transform: uppercase;
}

.printed-boards p {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  font-family: "PTMono", "Inconsolata", monospace;
  color: $alice-blue;
}

.printed-boards__button {
  padding: 15px 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-align: center;
  color: $alice-blue;
  text-transform: uppercase;

  background-color: $deep-sky-blue;
  border-color: transparent;
  border-radius: 3px;
}
